body {
    background-color: #000;
    font-family: 'Playfair Display', serif;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#days td {
    color: #fff;
    padding: 0.4em 1em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

a,
a:link,
a:visited,
a:active {
    color: #fff;
    text-decoration: line-through;
}

a:hover,
a:focus {
    color: #ffcdcd;
    text-decoration: none;
}