body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    vertical-align: center;
}

#words {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    padding: 0 100px;
    text-align: left;
}

#words p {
    margin: 0.1em 0;
    font-family: 'Playfair Display', serif;
    font-size: 0.5em;
    color: #666;
}

#words p.station,
#words p.station:hover {
    color: #ffcdcd;
}

#words p:hover {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 3em;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}