:root {
    --background: #fff;
    --black: #000;
    --red: #f00;
    --blue: #00f;
    --green: #595;
    --yellow: #f90;
    --navy: #239;
    --olive: #983;
    --violet: #948;
    --oil: #234;
    --british: #350;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    max-width: 60%;
}

#triwa {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2em;
    position: fixed;
    left: 1em;
    bottom: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    color: var(--black);
    font-family: font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.flex-container {
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100vh;
    background-color: var(--background);
}

.flex-item {
    text-align: center;
    background-color: var(--background);
    flex: 1 0 21%;
    flex-wrap: 1;
    padding: 1rem;
}

.type {
    text-transform: uppercase;
    font-weight: 700;
    font
}

.crab {
    width: 80%;
    height: auto;
}