body {
    background-color: #fff;
    color: #000;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
}

h1 {
    writing-mode: vertical-rl;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    text-align: right;
    margin: 0;
    font-size: 1.5rem;
    transform: rotate(180deg);
    z-index: 999;
}

p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.3rem;
}

#row {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.row-item-1 {
    padding: 1rem;
}

.row-item-2 {
    padding: 1rem;
    flex-basis: 33%;
    flex-grow: 1;
}

.work {
    padding: 1rem;
}

.map {
    max-height: 90vh;
    position: relative;
    offset-position: ;
    left: 0;
    top: -50%;
}

.marks {
    max-height: 90vh;
    position: relative;
    z-index: 900;
    opacity: 0;
    transition: ease-out 0.5s;
}

.marks:hover,
.marks:focus {
    opacity: 1;
    transition: ease-out 0.5s;
}