body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
}

h1 {
    writing-mode: vertical-rl;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    text-align: right;
    padding: 1rem;
    margin: 0;
    transform: rotate(180deg);
}

#row {
    display: flex;
    justify-content: space-between;
}

.row-item {
    padding: 1rem;
}

.map {
    padding: 1rem;
    width: 30vw;
    flex-grow: 1;
}

.map:hover,
.map:focus {
    transform: scale(1.2) rotate(90deg);
}

p {
    margin: 0;
    padding: 1rem;
    font-size: 0.8em;
}