body {
    height: 100vh;
    width: 100vw;
    font-family: playfair, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}

#copy {
    display: block;
}

#index-table {}

h1 {
    margin: 0;
    text-transform: uppercase;
}

a {
    color: #ff9090;
    display: block;
    margin-bottom: 0.5em;
    /* text-decoration: none; */
}

td {
    padding: 1em 1em 1em 0;
    vertical-align: top;
}